*{
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;    
}
html{
    background-image: url(../:img/backgroundimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14% 15%; 
}
ul{
    list-style-type: none;
    padding-inline-start:0;
    margin-block-start:0;
}
.container{
    text-align: center;
}
